#about-me{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:40vh;
}

#about-text{
    width:60vw;
    text-align: center;
}

@media screen and (max-width: 1400px) {
    #about-text{
        width:80vw;
    }
  }

  @media screen and (max-width: 720px) {
    #about-text{
        width:90vw;
    }
  }