#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:15vh;
    background-color: #222222;
}

.contact-1:hover{
    color:cadetblue;
    cursor: pointer;
}
.contact-links{
    display:grid;
    grid-template-columns: 20vw 20vw 20vw;
    justify-items: center;
    align-items: center;
}


#contact-header{
    margin-bottom:20px;
    color:white;
}

.contact-icons{
    width:35px;
    /* background-color: rgb(255, 255, 255); */
}