#contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:15vh;
    background-color: #222222;
}

.contact-1:hover{
    color:cadetblue;
    cursor: pointer;
}
.contact-links{
    display:grid;
    grid-template-columns: 20vw 20vw 20vw;
    justify-items: center;
    align-items: center;
}


#contact-header{
    margin-bottom:20px;
    color:white;
}

.contact-icons{
    width:35px;
    /* background-color: rgb(255, 255, 255); */
}

.contact-icons:hover{
    fill:white;
}

@media only screen and (max-height:670px){
    .contact-icons{
        width:25px;
    }
    #contact{
        height:20vh;
    }
}

@media only screen and (max-height:570px){
    
    #contact-header{
        margin-bottom:60px;
    }
    #contact{
        height:100vh;
    }
    .contact-icons{
        width:45px;
    }
}