

#avatar{
    border-radius: 1000px;
    width:55vh;
    height:55vh;
    object-fit: cover;
}
#intro-2{
    font-size:60px;
    color:var(--main-highlight-color);
}
#introduction{
    display:flex;
    justify-content: center;
    align-items: center;
}
.text-intro{
    margin-bottom:60px;
    width:500px;
    align-self: flex-end;
}





@media only screen and (max-width:1314px){
    #introduction{
        flex-direction: column-reverse;
    }

    #avatar{
        margin:0;
        margin-bottom: 40px;
        width:40vh;
        height:40vh;
        justify-self: center;
    }

    .text-intro{
        align-self: center;
        margin-bottom: 0px;
    }

}
@media only screen and (max-width:888px){
  
    #introduction{
        flex-direction: column-reverse;
    }
    .intro-img{
        margin:0;
        height:40vw;
        width:40vw;
        margin-bottom:80px;
    }
    #avatar{
        margin-bottom: 40px;
    }
    .text-intro{
        width:80vw;
    }
  }