

/* .intro-img{
    --background-color: gray;
   
    border-radius: 1000px;
    margin-right:50px;
} */
#avatar{
    border-radius: 1000px;
    /* margin-right:80px; */
    width:650px;
    height:650px;
    object-fit: cover;
}
#intro-2{
    font-size:60px;
    color:var(--main-highlight-color);
}
#introduction{
    display:flex;
    justify-content: center;
    align-items: center;
}
.text-intro{
    margin-bottom:60px;
    width:500px;
    align-self: flex-end;
}





@media only screen and (max-width:1314px){
    #introduction{
        flex-direction: column-reverse;
    }

    #avatar{
        margin:0;
        margin-bottom: 80px;
        width:400px;
        height:400px;
        justify-self: center;
    }

    .text-intro{
        align-self: center;
        margin-bottom: 0px;
    }

}
@media only screen and (max-width:888px){
  
    #introduction{
        flex-direction: column-reverse;
    }
    .intro-img{
        margin:0;
        height:40vw;
        width:40vw;
        margin-bottom:80px;
    }
  }