

.intro-img{
    background-color: gray;
    height:20vw;
    width:20vw;
    border-radius: 1000px;
    margin-right:50px;
}
.text-intro{
    width:500px;
    font-size:30px;
}
#intro-2{
    font-size:50px;
}
#introduction{
    display:flex;
    justify-content: center;
    align-items: center;
}




@media only screen and (max-width:888px){
  
    #introduction{
        flex-direction: column;
    }
    .intro-img{
        margin:0;
        height:40vw;
        width:40vw;
        margin-bottom:80px;
    }
  }