#projects{
    height:auto;
    padding:80px 0 80px 0;
}
#project-container{
    width:1200px;
    height:auto;
    margin:auto;
}

#project-sect-title{
    text-align: center; 
    margin-bottom: 30px
}

.project-element{
    display:flex;
    justify-content: center;
    padding:30px;
}

.project-element-reverse{
    display:flex;
    justify-content: center;
    padding:30px;
    flex-direction: row-reverse;
}

.project-content{
    width:55%;
    margin-left:30px;
    margin-right:30px;
    align-self: center;
}
.project-description{
    margin:15px 0 15px 0;
    /* background-color: #747474;
    border-radius: 5px;
    color:white;
    padding:15px; */
}


.project-links, .project-technologies{
    display:flex;
    
}

.project-link, .project-tech-link{
    margin-right:20px;
    margin-bottom:20px;
}

.project-link img{
    width:25px;
}

.project-tech-link{
    font-size:13px;
    color:white;
    padding:8px;
    border-radius: 20px;
    background-color: var(--main-highlight-color);
}
.project-image{
    width:550px;
    height:500px;
    object-fit:contain;
    margin-right:30px;
    margin-left:30px;
}

@media screen and (max-width:1248px){
    #project-container{
        width:auto;
    }
    .project-title{
        margin-top:15px;

    }
    .project-element, .project-element-reverse{
        flex-direction: column;
        align-items: center;
    }

    .project-image{
        width:400px;
        height:400px;
    }
    .project-title{
        text-align: center;
    }
    .project-description {
        text-align: center;
    }

    .project-links{
        justify-content: center;
        
    }

    .project-link{
        margin-right:0;
        display:flex;
        justify-content: center;
    }
   
    .project-technologies{
        text-align: center;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(140px,0.2fr));
        justify-content: center;
        justify-items: center;
    }
    .project-tech-link{
        margin:0 0 15px 0;
        width:3rem;
        font-size:11px;
        
    }

    .project-icons{
        margin-top:15px;
        width:25px;
    }

}

@media screen and (max-width:1248px){
    .project-content{
        width:85%;
    }
}
@media screen and (max-width:430px){
    #project-sect-title{
        margin:0;
    }
    .project-image{
        width:300px;
    }
}

@media screen and (max-width:350px){

    .project-image{
        width:250px;
    }
}

