.skills-content{
    width:60vw;
    /* margin:auto; */
}

.skill-list {
    display:grid;
     grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); 
    align-items: center;
    justify-items: center;

}

#skills{
    height:35vh;
    padding-top:10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#skills{
    text-align: center;
}
#skills-header{
    margin-bottom:50px;
}

.skill-icons{
    width:80px;
}

@media screen and (max-width: 1400px) {
    .skills-content{
        width:80vw;
    }
}

@media screen and (max-width:1000px){
    #skills{
        height:50vh;
    }
}

@media screen and (max-width:738px){
    .skill-icons{
        width:50px;
    }
}

@media screen and (max-height:790px),screen and (max-width:400px){
    #skills{
        height:100vh;
    }
}